<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container mt-5">
<h1 align="center" style="color:Darkblue;">PORTFOLIO</h1>
    <hr><br><br>
    <h2>ABOUT</h2>
    <br><br>
    <div class="row">
        <div class="col col-sm-4">
            <img src="{% static 'img/img.jpg' %}" width="300px" height="450px">
        </div>
        <div class="col col-sm-8">
            <h3>Shaikh Akram </h3><br>
            <p style="color:darkgreen;font-size:20px;">At the heart of my expertise lies a proficiency in programming languages such as Python and Django. With these powerful tools, I navigate the intricacies of backend development, bringing ideas to life with efficiency and precision. Additionally, my foundational knowledge extends to languages like C++ and VB.NET, providing me with a well-rounded understanding of different programming paradigms.</p>
            <p style="color:darkgreen;font-size:20px;">But my skills aren't limited to backend technologies alone. I am equally adept at frontend development, harnessing the capabilities of HTML, CSS, JavaScript, and Bootstrap to create captivating user experiences. Whether it's designing sleek interfaces or optimizing user interactions, I strive for excellence in every project I undertake</p>
            <p style="color:darkgreen;font-size:20px;">In the realm of databases, I am well-versed in both SQLLite and MySQL. This knowledge enables me to effectively manage data and build scalable solutions that meet the needs of modern applications. Beyond my professional pursuits, I find joy and fulfillment on the cricket field. As a skilled player, I bring the same level of dedication and strategic thinking to sports as I do to software development. Whether I'm batting, bowling, or fielding, I embrace the challenges of the game with enthusiasm and sportsmanship.</p>
        </div>
    </div>
    <hr>
    <h2>HOBBIES</h2>
    <br><br>
    <div class="row">
        <div class="col col-4-sm">
            <h3 align="center">Cricket</h3>
            <img src="{% static 'img/cricket.jpeg' %}" width="300px" height="350px"><br><br>
            <p>Cricket is a popular sport with a long history. It was invented in the 16th century in England, but it was a long time before modern rules were used.It is played between two teams of eleven players each. One team, which is batting, tries to score runs, while the other team is fielding, and tries to prevent this. Runs are scored by hitting the ball, which is thrown by a player from the fielding team to a player from the batting team, across the boundary, or by the two batting players running back-and-forth between the two wickets.</p>
        </div>
        <div class="col col-4-sm">
            <h3 align="center">Music</h3>
            <img src="{% static 'img/music.png' %}" width="300px" height="350px"><br><br>
            <p>Music is the arrangement of sound to create some combination of form, harmony, melody, rhythm, or otherwise expressive content.However, definitions of music vary depending on culture, though it is an aspect of all human societies and a cultural universal. While scholars agree that music is defined by a few specific elements, there is no consensus on their precise definitions. The creation of music is commonly divided into musical composition, musical improvisation, and musical performance, though the topic itself extends into academic disciplines, criticism, philosophy, psychology, and therapeutic contexts. Music may be performed using a vast range of instruments, including the human voice to sing, and thus is often credited for its extreme versatility and opportunity for creativity.</p>
         </div>
        <div class="col col-4-sm">
            <h3 align="center">Fitness</h3>
            <img src="{% static 'img/fitness.jpeg' %}" width="300px" height="350px"><br><br>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations, and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest along with a formal recovery plan.Before the Industrial Revolution, fitness was defined as the capacity to carry out the day's activities without undue fatigue or lethargy. However, with automation and changes in lifestyles, physical fitness is now considered a measure of the body's ability to function efficiently and effectively in work and leisure activities, to be healthy, to resist hypokinetic diseases, to improve immune system function, and to meet emergency situations.</p>
        </div>
    </div>
    <hr>
    <h2>CONTACT</h2><br><br>
    <div class="row">
        <div class="col col-sm-6">
            <ul class="contact-info">
                <li><span><i class="icon-map5"></i></span>4-6-118 Shastri Nagar Purna<br> Parbhani Maharashtra<br>India</li>
                <li><span><i class="icon-phone4"></i></span>+91 9890873444</li>
                <li><span><i class="icon-envelope2"></i></span><a href="#">akram10shaikh@gmail.com</a></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>